 *{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: white;
}
div.main_class{
    width: 400px;
    margin: 100px auto 0px auto;
}

h2{
    text-align: center;
    padding: 20px;
}

div.inner_box{
    background-color: #13a6f0;
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
  
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
form{
    margin: 40px;
}
label{
    font-size: 18px;
}

input{
    width: 300px;
    border : 1px solid #ddd;
    border-radius: 30px;
    padding: 8px;
}