body{
    background-color: rgb(205, 97, 97);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    margin :20px;
}

p{
    font-size: 26px;
    color: rgb(128, 83, 0);
}

button{
    display: inline;
    color: rgb(236, 251, 152);
    background-color: rgb(255, 0, 179);
    padding: 20px;
    border-radius: 30px;
    font-weight: 900;
}